section.about-me {
  @media(max-width:768px) {
    text-align: center;
  }

  .container {
    .row {
      @media(max-width:768px) {
        flex-direction: column-reverse;
      }

      .c8 {
        display: flex;
        align-items: flex-end;

        @media(max-width:768px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      .c4 {
        @media(max-width:768px) {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      .text-about-me {
        padding-right: 5%;

        p {
          margin-bottom: 0;
        }
      }

      .img-about-me {
        .profile-picture {
          width: 100%;
          filter: grayscale(45%);

          @media(max-width:768px) {
            width: 60%;
            margin: 0 auto;

          }
        }
      }
    }
  }
}