$primary: #1A374D;
$secondary: #406882;
$there: #6998AB;
$clear: #B1D0E0;

$white: #fff;
$black: #222;

$dm-black: #152028;
$dm-white: #eaeaea;

//Color tools
$java: #e62b2e;
$javaScript: #f4dc1c;
$php: #9c6ac7;
$golang: #1b54a3;
$react: #63dbfb;
$github: #24292f;
$drupal: #019cde;
$wordpress: #24749b;
$sass: #cb659b;
$bootstrap: #563d7c;