@import "./abstract";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  position: relative;
  min-width: 320px;
  min-height: 100vh;
}

.app.dark-mode {
  background-color: $dm-black;
  color: $dm-white;
}

.app.ligth-mode {
  background-color: rgba($dm-white, .15);
  color: $dm-black;
}

#main {}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

section {
  margin-bottom: 70px;
}

.content {
  main {
    padding: 0px 150px;

    @media(max-width:1080px) {
      padding: 0px 100px;
    }

    @media(max-width:768px) {
      padding: 0px 50px;
    }

    @media(max-width:488px) {
      padding: 0px 25px;
    }




  }
}

.btn {
  padding: 15px 20px;
  border: 1px solid transparent;
  transition: width 2s, height 2s, background-color .5s, transform 2s;
}

.btn-line {
  border: 1px solid $dm-black;
  font-weight: 600;

  &:hover {
    background-color: $dm-black;
    color: $dm-white;
  }
}

.dark-mode {
  .btn-line {
    border: 1px solid $dm-white;
    font-weight: 600;

    &:hover {
      background-color: $dm-white;
      color: $dm-black;
    }
  }
}