@import "./../../styles/abstract";

section.skills {
  text-align: center;

  .header-skills {
    max-width: 600px;
    margin: 0 auto;
  }

  .body-skills {
    max-width: 600px;
    margin: 0 auto;

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: center;

      li {
        width: 40px;
        height: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 25px;
        background-color: transparent;
        transition: width 2s, height 2s, background-color .5s, transform 2s;

        &.java {
          &:hover {
            background-color: $java;
            color: $dm-white;
          }
        }

        &.javascript {
          &:hover {
            background-color: $javaScript;
            color: $dm-white;
          }
        }

        &.php {
          &:hover {
            background-color: $php;
            color: $dm-white;
          }
        }

        &.golang {
          &:hover {
            background-color: $golang;
            color: $dm-white;
          }
        }

        &.react {
          &:hover {
            background-color: $react;
            color: $dm-white;
          }
        }

        &.github {
          &:hover {
            background-color: $github;
            color: $dm-white;
          }
        }

        &.drupal {
          &:hover {
            background-color: $drupal;
            color: $dm-white;
          }
        }

        &.wordpress {
          &:hover {
            background-color: $wordpress;
            color: $dm-white;
          }
        }

        &.sass {
          &:hover {
            background-color: $sass;
            color: $dm-white;
          }
        }
      }
    }
  }
}