@import "./../../styles/abstract";

#courses {
  margin-bottom: 90px;

  .content-courses {
    position: relative;

    .see-more {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-top: 12px;
      text-align: center;
      min-height: 40%;
      position: absolute;
      width: 100%;
      top: 60%;
      background: linear-gradient(transparent, white);

      &.open {
        min-height: 5%;
        position: relative;
      }
    }
  }
}

.dark-mode {
  #courses {

    .content-courses {

      .see-more {
        background: linear-gradient(transparent, $dm-black);
      }
    }
  }
}