@import "./../../../styles/abstract";

main {
  .btn-mode-theme {
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid $dm-white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border: 2px solid $dm-black;
      background-color: $dm-black;
      color: $dm-white;
    }
  }
}

main.dark-mode {
  .btn-mode-theme {
    background-color: rgba($dm-white, .15);
    color: $dm-white;
    border: 2px solid transparent;

    &:hover {
      background-color: $dm-white;
      color: $dm-black;
      border: 2px solid transparent;
    }
  }
}